In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [19]:
target = train['target']
train.drop(['target','id'],inplace=True,axis=1)
test.drop('id',inplace=True,axis=1)

In [26]:
train.corr()

          bin_0     bin_1     bin_2     ord_0       day     month
bin_0  1.000000 -0.001750  0.000459  0.001853  0.002941  0.000617
bin_1 -0.001750  1.000000 -0.003019 -0.000182  0.000610 -0.001314
bin_2  0.000459 -0.003019  1.000000 -0.000311  0.000314  0.000370
ord_0  0.001853 -0.000182 -0.000311  1.000000 -0.004302  0.000382
day    0.002941  0.000610  0.000314 -0.004302  1.000000 -0.000006
month  0.000617 -0.001314  0.000370  0.000382 -0.000006  1.000000